@font-face {
    font-family: "YoungSerif-Regular";
    src: url("../fonts/YoungSerif-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fira-Regular";
    src: url("../fonts/Fira-Regular.woff2") format("woff2");
}

:root {
    --white: #f7f7f7;
    --black: #121214;
    --bg-color: #d3ccc3;
    --boneColor: #d3ccc3c9;
    --purpleDark: #0A0214;
    --purple: #8179ad;
    --purpleLight: #a078a3;
    --greenSpan: #599787;
    --red: #D44B6D;
    --yellow: #E5BF48;
    --green: #5AAA59;
    --grayHard: #383838;
    --heart: #d85c5c;
    /* tech colors */
    --jsYell: #f0db4f;
    --htmlOrang: #e34c26;
    --cssBlue: #2965f1;
    --git: #1f1705;
    --reactSky: #272c36;
    --react: #087ea4;
    --node: #181818;
    --netPurple: #602a96;
    --figm: -webkit-linear-gradient(215deg, #f24e1e 0%, #ff7262 17%, #a259ff 39%, #1abcfe 60%, #0acf83 80%);
    --mongo: #001e2b;
    --next: #000;
    --expo: #fff;
    --typescript: #235A97;
    --illustrator: #250102;
    --redux: #764abc;
    --orange: #d36246;
    --greenPastel: #4DA778;
    --pink: #cc5792;
    --blueLight: #6ea1aa;
    --sombra: -2px 8px 15px -6px #0c0a16ec;
    --sombraBtn: -2px 8px 15px -9px #0b0814;
    --sombraCards: -2px 10px 10px -9px #0a0814d0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* outline: 1px solid #363535; */
}

body {
    font-family: "Fira-Regular", sans-serif;
    background-color: var(--bg-color);
    color: var(--purpleDark);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
}

body * a {
    color: var(--purpleDark);
}

body::-webkit-scrollbar {
    background: none;
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purpleDark);
}

.section-styles {
    max-width: 1024px;
    padding: 2rem 1rem;
    margin: 4rem auto;
    scroll-margin-top: 5rem;
    position: relative;
}

.subtit-section {
    font-size: 1.6rem;
    margin: 0 0 2rem 0;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
}

.presentation,
.color-name,
.info-nickname,
.subtit-section,
.about-span,
.sub-quotes,
.title-bg {
    font-family: "YoungSerif-Regular", sans-serif;
}

.delete_extra_space {
    overflow-x: hidden;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-position {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    margin: 0;
    padding: .7rem 0 .6rem 0;
    outline: 1px solid var(--purpleDark);
}

.logo {
    font-size: 1.2rem;
}

.menu .logo-menu {
    background-color: var(--purpleDark);
    color: var(--white);
    padding: 1.4rem 1rem .4rem;
    position: absolute;
    top: 0;
}

.span-b {
    color: var(--greenSpan);
    font-size: .9rem;
    font-weight: bolder;
}

.menu-nav {
    background-color: var(--bg-color);
    position: absolute;
    top: 3.3rem;
    left: 100%;
    z-index: 25;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: left 250ms linear;
}

.visibility {
    left: 0;
}

.menu .menu-button {
    background: none;
    border: none;
    padding: 0 .8rem;
    cursor: pointer;
}

.hidden-btn,
.close-btn {
    display: none;
}

.menu .menu-nav>a {
    text-align: start;
    padding: 1rem 2rem;
    transition: 200ms linear;
}

.menu-nav>a:nth-child(1),
.menu-nav>a:nth-child(2),
.menu-nav>a:nth-child(3),
.menu-nav>a:nth-child(4) {
    border-bottom: 1px solid var(--purpleDark);
}

.menu .menu-nav>a:hover {
    background-color: var(--purpleDark);
    color: var(--white);
}

.color-name {
    color: var(--purple);
}

.color-span {
    color: var(--greenSpan);
}

@media screen and (min-width: 768px) {
    .menu-position {
        max-width: 1024px;
        background-color: var(--boneColor);
        backdrop-filter: blur(4.5px);
        padding: .8rem 0 .2rem 0;
        outline: none;
    }

    .menu-nav {
        background: var(--boneColor);
        backdrop-filter: blur(4.5px);
        position: static;
        flex-direction: row;
        width: max-content;
        height: fit-content;
        background: none;
        backdrop-filter: none;
    }

    .menu .menu-nav>a {
        width: fit-content;
        padding: .5rem .8rem;
        margin: 0 .3rem;
        position: relative;
    }

    .menu .menu-nav>a::before {
        content: '';
        width: 90%;
        height: 0;
        background-color: var(--purpleDark);
        position: absolute;
        top: -15px;
        left: 5%;
        transition: 90ms linear;
    }

    .menu .menu-nav>a:hover::before {
        height: 6px;
    }

    .menu .menu-nav>a:hover {
        background-color: transparent;
        color: var(--purple);
    }

    .menu-nav>a:nth-child(1),
    .menu-nav>a:nth-child(2),
    .menu-nav>a:nth-child(3),
    .menu-nav>a:nth-child(4) {
        border-bottom: none;
    }

    .menu .menu-button {
        display: none;
    }
}

.bg-header {
    position: absolute;
    width: 100%;
    height: 1620px;
    background-image: url(../assets/illustrations/bgHeader.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .bg-header {
        height: 1080px;
        background-position: center;
    }
}

@media screen and (min-width:1400px) {
    .bg-header {
        background-position: bottom;
    }
}

/* PORTRAIT */
.portrait {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 1rem;
    margin: 0 auto;
}

.portrait-text {
    display: grid;
    justify-items: center;
}

.presentation {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
}

@media screen and (min-width: 600px) {
    .presentation {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .portrait {
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        margin: 4rem auto;
    }

    .portrait-text {
        justify-items: left;
    }

    .presentation {
        text-align: left;
    }
}

.btns-presentacion .btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 0 0 1rem 0;
    padding: .5rem 1.5rem;
    transition: 250ms linear;
}

.btn-cv {
    background-color: var(--purpleDark);
    color: var(--bg-color);
    outline: 1px solid var(--purpleDark);
}

.btn-cv:hover {
    outline: 1px solid var(--bg-color);
    color: var(--white);
}

.social-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-buttons>a {
    transition: 250ms linear;
}

.social-buttons>a:hover {
    opacity: .7;
}

.content-profile {
    display: flex;
    justify-content: center;
}

.profile-photo {
    width: 160px;
    height: 230px;
    background-image: url("../assets/img/profile.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.btn-contact {
    background-color: var(--yellow);
    padding: .5rem;
    box-shadow: var(--sombraBtn);
    position: absolute;
    top: 20px;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 5deg;
    transition: 250ms linear;
}

.btn-contact:hover {
    transform: scale(105%);
}

.profile-salute {
    background-color: var(--greenSpan);
    position: absolute;
    padding: .4rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    left: -25px;
    box-shadow: var(--sombraBtn);
    rotate: -5deg;
}

.profile-info {
    width: 140px;
    background-color: var(--black);
    color: var(--white);
    padding: .5rem 1rem;
    position: absolute;
    bottom: -30px;
    left: 60px;
    box-shadow: var(--sombraBtn);
}

.info-nickname {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.info-level {
    opacity: .5;
    font-size: .7rem;
    padding: 0 0 .3rem 0;
}

.info-hashtag {
    font-size: .8rem;
}

/* ABOUT */
.about-me {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
}

.about-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-image>img {
    width: 100%;
    max-width: 350px;
}

.about-span {
    padding: 0 .3rem;
}

.card-about {
    max-width: 450px;
}

@media screen and (min-width: 768px) {
    .about-me {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .card-about {
        justify-self: end;
    }
}

.about-window {
    background-color: var(--black);
    color: var(--white);
    outline: 1px solid var(--grayHard);
    box-shadow: var(--sombra);
}

.window-bar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--grayHard);
}

.bar-buttons,
.bar-title {
    padding: .6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-title {
    font-size: .8rem;
    opacity: .6;
    border-left: 1px solid var(--grayHard);
    border-right: 1px solid var(--grayHard);
}

.b-btn {
    display: inline-block;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 .2rem;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.window-content {
    display: flex;
}

.content-sidebar {
    padding: 0 .5rem;
    border-right: 1px solid var(--grayHard);
}

.content-text {
    padding: 1rem 0;
}

.content-parraf {
    background-color: var(--blackMedium);
    text-align: left;
    padding: .3rem .8rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 14px;
}

.content-cursor {
    position: absolute;
    right: 0;
    bottom: 8px;
}

.bg-main {
    background-image: url(../assets/illustrations/bgMain.svg);
    position: absolute;
    top: 1680px;
    width: 100%;
    height: 3000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width:768px) {
    .bg-main {
        top: 1220px;
        height: 2120px;
        background-position: top;
    }
}

/* PROJECTS */
.title-proj {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.cards-portaf {
    gap: 7rem;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.proj-img {
    display: flex;
    width: 100%;
    min-width: 260px;
    box-shadow: var(--sombraCards);
    transition: linear 300ms;
}

.proj-img:hover {
    filter: brightness(.9);
    box-shadow: none;
    scale: 99%;
}

.card-text .txt-title {
    width: fit-content;
    background-color: var(--purpleDark);
    color: var(--white);
    font-size: 1.2rem;
    padding: .4rem 1rem;
}

.card-text .txt-proj {
    background-color: var(--blueLight);
    max-width: 340px;
    line-height: 1.3rem;
    padding: 1rem;
}

.txt-num {
    font-size: .9rem;
}

@media screen and (min-width: 768px) {
    .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .card-content:nth-child(2) {
        flex-direction: row-reverse;
    }
}

/* SKILLS */
.skill-section {
    padding: 0;
}

.section-card {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.card-info {
    position: relative;
}

.info-parr {
    background-color: var(--purpleLight);
    color: var(--purpleBackground);
    padding: 4.5rem 1rem 2rem;
}

.title-skill {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--purpleDark);
    color: var(--white);
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 842px) {
    .section-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-info {
        justify-self: flex-start;
    }
}

.section-card .info-parr {
    max-width: 480px;
    line-height: 1.4rem;
}

.span-develop,
.span-stack,
.span-noCount,
.span-year,
.span-alura,
.span-keepCod,
.span-utpl,
.span-frame,
.span-style,
.span-tool {
    background-color: var(--black);
    color: var(--white);
    padding: 0 .2rem;
}

.flex-list {
    max-width: 740px;
    padding: 1.2rem;
}

.flex-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.skill-section li {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: .4rem 1rem;
    color: var(--white);
}

.skill-section .skill-js {
    background-color: var(--yellow);
    border-radius: 0 24px 24px 0;
    color: var(--black);
}

.skill-section .skill-html {
    background-color: var(--htmlOrang);
    border-radius: 24px;
}

.skill-section .skill-css {
    background-color: var(--cssBlue);
    border-radius: 24px 0 0 24px;
}

.skill-section .skill-react {
    background-color: var(--reactSky);
    border-radius: 24px 0 0 24px;
}

.skill-section .skill-next {
    background-color: var(--next);
    border-radius: 0 24px 24px 0;
}

.skill-section .hearth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--heart);
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 50%;
}

.skill-section .skill-expo {
    background-color: var(--expo);
    border-radius: 24px;
    color: var(--black);
}

.skill-section .skill-node {
    background-color: var(--node);
    border-radius: 0 24px 24px 0;
}

.skill-section .skill-typescript {
    background-color: var(--typescript);
    border-radius: 24px;
}

.skill-section .skill-net {
    background-color: var(--netPurple);
    border-radius: 24px 0 0 24px;
}

.skill-section .skill-db {
    background-color: var(--white);
    border-radius: 24px 0 0 24px;
    color: var(--black);
}

.skill-section .skill-mongo {
    background-color: var(--mongo);
    border-radius: 0 24px 24px 0;
}

.skill-section .skill-git {
    background-color: var(--git);
    border-radius: 24px;
}

.skill-section .skill-fig {
    background-image: var(--figm);
    border-radius: 0 24px 24px 0;
    color: var(--black);
}

.skill-section .skill-illus {
    background-color: var(--illustrator);
    border-radius: 24px;
}

/* Arrows */
.skill-section .arrow {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 50%;
}

.a-first {
    background-color: var(--purple);
    rotate: 180deg;
}

.a-second {
    background-color: var(--white);
    width: 70px;
    border-radius: 24px;
}

.a-third {
    background-color: var(--greenPastel);
    rotate: -135deg;
}

.a-fourth {
    background-color: var(--orange);
}

.a-fifth {
    background-color: var(--pink);
    rotate: 45deg;
}

.skill-section .smile {
    padding: 0;
    align-self: flex-end;
}

/* FORMATION*/
.training {
    background-color: var(--greenSpan);
    padding: 0;
    gap: 2rem;
}

.forma-title {
    margin: 0 auto;
    align-self: center;
    padding: 2rem 0;
    overflow-x: hidden;
}

.title-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 3rem;
    line-height: 3rem;
}

.parr-tr {
    width: 100%;
    margin-top: 1rem;
    padding: 0 1.5rem;
}

.training .forma-card {
    padding: 2rem;
}

.forma-card .card-list {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 1.8rem;
}

.list-schools {
    position: relative;
}

.span-noCount {
    font-size: .9rem;
    font-weight: normal;
}

.span-front {
    background-color: var(--blueAlura);
}

@keyframes slider {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - .5rem));
    }
}

.train-sch {
    width: max-content;
    margin-top: 2rem;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.train-sch::before,
.train-sch::after {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    content: "";
    z-index: 2;
}

.train-sch::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--greenSpan));
}

.train-sch::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--greenSpan));
}

.train-sch:hover .train-slide {
    animation-play-state: paused;
}

.train-slide {
    display: flex;
    gap: 1rem;
    animation: 12s slider infinite linear;
}

.train-slide img {
    height: 40px;
    object-fit: contain;
}

@media screen and (min-width: 672px) {
    .training {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .title-tr {
        align-items: flex-start;
        padding: 0;
    }

    .parr-tr {
        max-width: 300px;
        padding: 0;
    }

    .forma-title {
        padding: 2rem 0;
    }

    .training .forma-card {
        width: 50%;
        padding: 3rem 2rem;
    }

    @keyframes slider {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-600px + 1.2rem));
        }
    }

    .train-sch {
        width: 300px;
    }

}

/* CONTACTO */
.contact-section {
    background-color: var(--purpleDark);
    color: var(--white);
    position: relative;
}

.contact-img {
    max-width: 270px;
    position: absolute;
    right: 5%;
    top: -50%;
    z-index: -1;
}

.contact-info {
    padding: 1.5rem 1.3rem 1rem;
    margin: 10rem auto 0;
}

.conta-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (min-width: 650px) {
    .contact-info .conta-content {
        display: flex;
        justify-content: space-between;
    }
}

.conta-content .conte-section {
    padding: 1rem 0;
}

.conte-section span,
.email {
    color: var(--greenSpan);
    font-weight: 500;
}

.conte-section .mail {
    color: var(--white);
    font-size: .9rem;
    transition: 150ms linear;
}

.mail:hover {
    color: var(--purple);
}

.logo-foot {
    color: var(--white);
}