@font-face {
    font-family: "Recoleta-SemiBold";
    src: url("/fonts/Recoleta-SemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "Inter-Black";
    src: url("/fonts/Inter-Black.woff2") format("woff2");
}
@font-face {
    font-family: "Inter-Medium";
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

:root{
    --white: #e2e5e4;
    --purpleBackground: #161532;
    --menuPurple: #161532cb;
    --purpleDark: #0A0214;
    --purple: #785ca0;
    --greenSpan: #3CB993;
    --softRed: #DD6B6B;
    --greenPastel: #4F9B6F;
    --red: #D44B6D;
    --yellow: #E5BF48;
    --green: #5AAA59;
    --blackSidebar: #15111A;

    --jsYell: #DFB445;
    --htmlOrang: #E36E50;
    --cssBlue: #2F78E7;
    --gitOrang: #D7655E; 
    --reactSky: #5BD1F1;
    --nodeGreen: #51B17D;
    --netPurple: #6447C9;
    --postgWhite: #DADADA;
    --figm: -webkit-linear-gradient(215deg, #eb5e33 0%, #ff7768 17%, #a665fa 39%, #32c5ff 60%, #1dc484 80%);
    --aiRed: #BB4141;
    --phBlue: #1DAEDC;
    --orange: #C85639;
    --greenPastel: #4DA778;
    --pink: #BE336D;

    --blueAlura: #5B99D2;
    --orangeKeepCod: #D6875C;
    --sombra: -2px 10px 25px -15px #0c0a16;
    --sombraBtn: -2px 10px 25px -9px #0b0814;
    --sombraCards: -2px 10px 25px -9px #0a0814;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* outline: 1px solid #ccc; */
}

body{
    font-family: "Inter-Medium", sans-serif;
    background-color: var(--purpleBackground);
    color: var(--white);
}
body * a{
    color: var(--white);
}

body::-webkit-scrollbar {
    background: none;
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 4px;
}

.section-styles{
    max-width: 1024px;
    padding: 2rem 1rem;
    margin: 2rem auto;
    scroll-margin-top: 5rem;
}

.subtit-section{
    padding: 1rem 0 2.5rem 0;
}

.flex-content{
    display: flex;
    flex-wrap: wrap;
}

.logo, .presentation, .color-name, .info-nickname, .subtit-section, .about-span, .sub-quotes, .txt-title{
    font-family: "Recoleta-SemiBold", sans-serif;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
}

.menu-position{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    margin: 0;
    padding: .8rem 1.5rem;
    background-color: var(--purpleBackground);
}

.logo{
    font-size: 1.4rem;
}
.span-b, .span-t{
    font-size: 1.1rem;
}
.span-i{
    font-size: 1rem;
}

.menu-nav{
    background-color: var(--menuPurple);
    backdrop-filter: blur( 4.5px );
    position: absolute;
    top: 3.5rem;
    left: 100%;
    z-index: 25;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: left 250ms linear;
}

.visibility{
    left: 0;
}

.menu .menu-button{
    background: none;
    color: var(--white);
    border: none;
    font-size: 1.5rem;
}

.hidden-btn, .close-btn{
    display: none;
}

.menu .menu-nav>a{
    text-align: start;
    padding: 1rem 2rem;
}

.menu .menu-nav>a:hover{
    background-color: var(--purpleDark);
}

.color-name{
    color: var(--purple);
}
.color-span{
    color: var(--greenSpan);
}

/* PORTRAIT */
.portada{
    position: relative;
    overflow: hidden;
    padding: 5rem 2rem 7rem 2rem;
}
.presentation{
    max-width: 465px;
    font-size: 2.5rem;
    margin: 2rem 0;
}

.btns-presentacion{
    display: inline-block;
}

.btns-presentacion .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1px;
    padding: .6rem 1rem;
}

.btn-proj{
    background-color: var(--purple);
    color: var(--purpleDark);
    border: 1px solid transparent;
    transition: 300ms linear;
}
.btn-proj i{
    margin-left: .4rem;
}

.btn-proj:hover{
    border: 1px solid var(--purpleBackground);
    background-color: var(--white);
}

.btn-cv{
    background-color: var(--purpleDark);
    border: 1px solid transparent;
    transition: 250ms linear;
}
.btn-cv i{
    margin-right: .5rem;
}

.btn-cv:hover{
    border: 1px solid var(--white);
    color: var(--white);
}

.portada-image{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 350px;
    z-index: -1;
}

/* ABOUT */
.about-me{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    justify-items: center;
}

@media screen and (min-width: 800px) {
    .about-me{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: flex-start;
        gap: 0;
    }
    .content-profile{
        margin: 2rem 3rem 2rem 0;
        padding: 0 1rem;
    }
    .portada-image{
        left: 40%;
        bottom: 2%;
        width: 420px;
    }
}

.profile-photo{
    width: 155px;
    min-height: 230px;
    background-image: url("../assets/img/profile_.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 2px;
    position: relative;
}

.about-me .linke, .git{
    position: absolute;
    left: 8%;
    font-size: 1.8rem;
    transition: 200ms linear;
}
.about-me .linke{
    bottom: 25%;
}
.about-me .git{
    bottom: 5%;
}
.about-me .git:hover, .linke:hover{
    color: var(--purpleDark);
}

.btn-contact{
    background-color: var(--softRed);
    color: var(--purpleBackground);
    padding: .5rem .6rem;
    border-radius: 2px;
    box-shadow: var(--sombraBtn);
    position: absolute;
    top: 7%;
    left: 55%;
    display: flex;
    transition: 250ms linear;
}
.btn-contact>i{
    font-size: 1.2rem;
    margin-right: .5rem;
}
.btn-contact:hover{
    background-color: var(--purple);
}

.profile-salute{
    background-color: var(--greenPastel);
    color: var(--purpleBackground);
    font-family: "Inter-Black";
    position: absolute;
    padding: .1rem .6rem;
    border-radius: 2px;
    bottom: 55%;
    left: -15%;
}

.profile-info{
    background-color: var(--purpleDark);
    padding: .5rem 1.4rem;
    position: absolute;
    bottom: -10%;
    left: 50%;
}
.icon-ec{
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 8px;
}
.info-level{
    opacity: .5;
    font-size: .7rem;
    margin: -.1rem 0 .6rem 0;
}
.info-hashtag{
    font-size: .8rem;
}

.about-span{
    color: var(--purpleDark);
    padding: 0 .3rem;
    border-radius: 2px;
}
.card-about{
    max-width: 400px;
    border-radius: 2px;
    box-shadow: var(--sombra);
}

.about-window{
    background-color: var(--purpleDark);
    outline: 1px solid var(--white);
    border-radius: 2px;
}
.window-bar{
    display: flex;
    outline: 1px solid var(--white);
    border-radius: 2px 2px 0 0;
}
.bar-buttons, .bar-title{
    padding: .5rem 1rem;
}
.bar-title{
    background-color: var(--purpleDark);
    font-size: .9rem;
    position: relative;
    bottom: -2px;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--purpleDark);
}
.b-btn{
    display: inline-block;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 .1rem;
}
.red{
    background-color: var(--red);
}
.yellow{
    background-color: var(--yellow);
}
.green{
    background-color: var(--green);
}

.window-content{
    display: flex;
}
.content-sidebar{
    background-color: var(--blackSidebar);
    padding: 1.5rem .7rem;
}

.content-parraf{
    text-align: left;
    padding: 1.5rem .8rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 14px;
}
.content-cursor{
    position: absolute;
    right: -2%;
    bottom: -2%;
}

/* SKILLS */
.hab-section{
    max-width: 1024px;
    margin: 0 auto;
}
.section-card{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 0;
}
.card-info{
    background-color: var(--yellow);
    color: var(--purpleBackground);
    padding: 5rem 1.5rem;
    position: relative;
    overflow: hidden;
}
@media screen and (min-width: 800px) {
    .section-card{
        grid-template-columns: repeat(2, 1fr);
        justify-items: normal;
        gap: 3rem;
    }
    .card-info{
        padding: 4.5rem 3rem;
    }
}
.section-card .info-parr{
    max-width: 350px;
    position: relative;
    z-index: 3;
}
.sub-quotes{
    font-size: 7rem;
    line-height: 4rem;
}
.span-year{
    background-color: var(--softRed);
}
.span-develop{
    background-color: var(--greenSpan);
}
.span-stack{
    background-color: var(--purple);
}
.skill-img{
    width: 300px;
    position: absolute;
    right: -10%;
    bottom: -20%;
    z-index: 2;
}

.flex-list ul{
    max-width: 360px;
    margin: 6rem 1.2rem;
    list-style: none;
    gap: 10px;
}

.hab-section li{
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    border: 2px solid;
}

.flex-content .icon-tech{
    font-size: 1.3rem;
}

.arrow{
    font-size: 2rem;
}
.hab-section .hab-js{
    color: var(--yellow);
    border-radius: 2px 24px 24px 2px;
}
.a-first{
    color: var(--purple);
}
.hab-section .hab-html{
    color: var(--htmlOrang);
    border-radius: 24px 2px 2px 24px;
}
.hab-section .a-second{
    background-color: var(--white);
    width: 80px;
    border-radius: 24px;
    color: var(--purpleBackground);
}
.hab-section .hab-git{
    color: var(--gitOrang);
    border-radius: 2px; 
}
.hab-section .hab-css{
    color: var(--cssBlue);
    border-radius: 24px;
}
.a-third{
    color: var(--greenPastel);
    rotate: -45deg;
}
.hab-section .hab-react{
    color: var(--reactSky);
    border-radius: 24px;
}
.hab-section .hearth{
    background-color: var(--yellow);
    color: var(--purpleBackground);
    font-size: 1.7rem;
    padding: 2px 4px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.hab-section .hab-node{
    color: var(--nodeGreen);
    border-radius: 2px;
}
.hab-section .hab-net{
    color: var(--netPurple);
    border-radius: 24px 2px 2px 24px;
}
.hab-net img, .hab-db img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.hab-section .hab-db{
    color: var(--postgWhite);
    border-radius: 2px 24px 24px 2px;
}
.a-fourth{
    color: var(--orange);
}
.hab-section .hab-fig{
    border: 2px solid transparent;
    border-image: var(--figm);
    border-image-slice: 1;
    background: var(--figm);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 2px;
}
.a-fifth{
    color: var(--pink);
    rotate: -45deg;
}
.hab-section .hab-illus{
    color: var(--aiRed);
    border-radius: 2px 24px 24px 2px;
}
.hab-section .hab-ph{
    color: var(--phBlue);
    border-radius: 24px;
}
.smile{
    color: var(--yellow);
    rotate: 15deg;
}

.hab-section li i{
    font-size: 1.5rem;
    margin-right: 10px;
}

/* FORMATION*/
.formation{
    background-color: var(--greenSpan);
    border-radius: 2px;
    position: relative;
    padding: 0;
    overflow: hidden;
    scroll-padding-bottom: 30rem;
}

.forma-title{
    max-width: 400px;
    line-height: 7.3rem;
    /* font-size: 5.4rem; */
}
.title-bg::after{
    font-family: "Inter-Black";
    position: absolute;
    left: -10px;
    font-size: 8.8rem;
    line-height: 7rem;
    opacity: .2;
    color: var(--purpleBackground);
}
.for::after{
    position: absolute;
    top: -3px;
    content: 'FOR';
}
.ma::after{
    position: absolute;
    top: 14%;
    content: 'MA';
}
.tion::after{
    position: absolute;
    top: 30%;
    content: 'CIÓN';
}
.bg-letter{
    opacity: 0;
}

.forma-img-graduate{
    max-width: 280px;
    min-width: 200px;
    position: absolute;
    top: 9%;
    left: 55%;
}

.formation .forma-card{
    display: grid;
}
.forma-card .card-list{
    justify-self: center;
    list-style: none;
    color: var(--purpleBackground);
    padding: 0 0 2rem 0;
}
.card-list .tit-forma{
    padding: 2rem 0 0 0;
}
.span-front{
    background-color: var(--blueAlura);
}
.span-keepCod{
    background-color: var(--orangeKeepCod);
}
.list-line::after{
    position: absolute;
    content: '';
    width: 160px;
    margin-top: .6rem;
    border-bottom: 1px solid var(--purpleBackground);
}

.forma-card .forma-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0 .5rem;
}
.forma-imgs .imgs-group{
    display: grid;
    align-items: center;
}
.forma-imgs img{
    width: 90px;
    margin: 1rem .8rem;
}

@media screen and (min-width: 650px) {
    .forma-imgs .imgs-group{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .formation{
        display: flex;
        justify-content: space-between;
    }
    .forma-img-graduate{
        top: 13%;
        left: 22%;
    }

    .title-bg::after{
        font-size: 10rem;
        line-height: 2rem;
    }
    .for::after{
        top: 11%;
    }
    .ma::after{
        font-size: 9.8rem;
        top: 45%;
    }
    .tion::after{
        font-size: 9.2rem;
        top: 84%;
    }
}
@media screen and (min-width:950px) {
    .forma-imgs img{
        margin: 1rem 2rem;
    }
}

/* PROJECTS */
.portfolio{
    position: relative;
    margin-top: 4rem;
}
.project-bg{
    max-width: 420px;
    position: absolute;
    left: 8%;
    top: -1%;
    rotate: 2deg;
    z-index: -1;
}
.proj-name{
    color: var(--purpleBackground);
}
.cards-portaf{
    gap: 1.8rem;
}
.card-content{
    position: relative;
    margin: 5rem auto;
    border-radius: 2px;
}

.card{
    position: relative;
    min-width: 280px;
    min-height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: var(--sombraCards);
}
.card::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--purple);
    opacity: .4;
    position: absolute;
    transition: 300ms linear;
}
.span-view{
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    left: 42%;
    top: 15%;
    color: var(--purpleBackground);
    transition: 300ms linear;
}
.card:hover::after, .card-link:hover .span-view{
    opacity: 0;
    z-index: 0;
}

.card-content .card-text{
    background-color: var(--purpleDark);
    padding: .8rem .8rem 1.4rem .8rem;
    border-radius: 0 0 2px 2px;
    position: absolute;
    top: 60%;
}
.txt-title{
    padding-bottom: .6rem;
}
.span-frame{
    background-color: var(--greenSpan);
    color: var(--purpleBackground);
}
.span-style{
    background-color: var(--yellow);
    color: var(--purpleBackground);
}
.span-tool{
    background-color: var(--purple);
    color: var(--purpleBackground);
}

.btn-git{
    position: absolute;
    right: -6px;
    bottom: -6px;
    font-size: 1.8rem;
    transition: 150ms linear;
}
.btn-git:hover{
    color: var(--purple);
}

.card-img1, .card-img2, .card-img3{
    background-position: center;
    background-size: cover;
}

.card-img1{
    background-image: url("../assets/proyectos-img/u-commerce.png");
}
.card-img2{
    background-image: url("../assets/proyectos-img/pokedex.png");
}
.card-img3{
    background-image: url("../assets/proyectos-img/rick&morty.png");
}


/* CONTACTO */
.contact-section{
    background-color: var(--purpleDark);
    position: relative;
}
.contact-img{
    max-width: 270px;
    position: absolute;
    right: 5%;
    top: -50%;
    z-index: -1;
}
.contact-info{
    padding: 1.5rem 1.3rem 1rem ;
    margin: 10rem auto 0;
}
.conta-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (min-width: 650px) {
    .contact-info .conta-content{
        display: flex;
        justify-content: space-between;
    }  
}

.conta-content .conte-section{
    padding: 1rem 0;
}

.conte-section span, .email{
    color: var(--greenSpan);
    font-weight: 500;
}

.conte-section .mail{
    font-size: .9rem;
    transition: 150ms linear;
}

.icons-foot i{
    font-size: 1.4rem;
    margin: .5rem;
    padding: .2rem;
    transition: 150ms linear;
}
.mail:hover, .icons-foot i:hover{
    color: var(--purple);
}

/* MEDIA QUERIES */
@media screen and (min-width: 850px){
    .menu-position{
        background: var(--menuPurple);
        backdrop-filter: blur(4.5px);
        padding: .8rem 1.5rem .2rem 1.5rem;
    }

    .menu-nav{
        position: static;
        flex-direction: row;
        width: max-content;
        height: auto;
        background: none;
        backdrop-filter: none;
    }

    .menu .menu-nav>a{
        width: fit-content;
        padding: .5rem .8rem;
        margin: 0 .3rem;
        position: relative;
    }
    .menu .menu-nav>a::before{
        content: '';
        width: 90%;
        height: 0;
        background-color: var(--yellow);
        border-radius: 0  0 2px 2px;
        position: absolute;
        top: -15px;
        left: 5%;
        transition: 90ms linear;
    }
    .menu .menu-nav>a:hover::before{
        height: 6px;
    }
    
    .menu .menu-nav>a:hover{
        background-color: transparent;
    }

    .menu .menu-button{
        display: none;
    }
}

@media  screen and (min-width: 600px) {
    .presentation{
        font-size: 3rem;
    }
}