:root{
    --white: #e2e5e4;
    --blueGreenDark: #152D35;
    --greenDarkOpacity: #0e191db2;
    --greenDark: #0e191d;
    --blueGreen: #345B63;
    --blueGreenOpacity: #111f2236;
    --blueGreenSpan: #406770;
    --menuBlueGreen: #162e37c4;
    --pastelGreen: #D4ECDD;
    --orange: #c07a68;
    --crimsonLight: #a5756a;
    --skyBlue: #5e8ea8;
    --yellowLight: #c4ad62;
    --blueReact: #4e9aad;
    --greenNode: #618f69;
    --blueDb: #5a81b4;
    --lime: -webkit-linear-gradient(215deg, #eb5e33 0%, #ff7768 17%, #a665fa 39%, #32c5ff 60%, #1dc484 80%);
    --yellowBrown: #BBA761;
    --pinky: #9c6173;
    --blueAlura: #5174a8;
    --wine: #856a5f;
    --sombra: -2px 10px 25px -15px #0a1316;
    --sombraBtn: -2px 10px 25px -9px #081114;
    --sombraCards: -2px 10px 25px -9px #081114;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    /* outline: 1px solid #ccc; */
}

body{
    background-color: var(--blueGreenDark);
    color: var(--white);
}
body * a{
    color: var(--white);
}
body::-webkit-scrollbar {
    background: none;
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--blueGreen);
    border-radius: 10px;
}

.section-styles{
    max-width: 1024px;
    padding: 2rem;
    margin: 2rem auto;
    scroll-margin-top: 4rem;
}

.subtit-section{
    padding: 1rem 0;
}

.flex-content{
    display: flex;
    flex-wrap: wrap;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
}

.menu-position{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    margin: 0;
    padding: .8rem 1.5rem;
    background-color: var(--blueGreenDark);
}

.logo{
    font-size: 1.3rem;
    font-weight: 500;
}

.menu-nav{
    background-color: var(--menuBlueGreen);
    backdrop-filter: blur( 4.5px );
    position: absolute;
    top: 3.5rem;
    left: 100%;
    z-index: 25;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: left 250ms linear;
}

.visibility{
    left: 0;
}

.menu .toggle-btn{
    background: none;
    color: var(--white);
    border: none;
    font-size: 1.5rem;
}

.hidden-btn, .close-btn{
    display: none;
}

.menu .menu-nav>a{
    text-align: start;
    padding: 1rem 2rem;
}

.menu .menu-nav>a:hover{
    background-color: var(--blueGreen);
}

.color-span{
    color: var(--blueGreenSpan);
    font-weight: 500;
}

/* PORTADA */
.presentacion{
    max-width: 600px;
    font-size: 2rem;
}

.btns-presentacion{
    display: inline-block;
}

.btns-presentacion .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 4px;
    padding: .8rem 1rem;
}

.btn-skyblue{
    background-color: var(--blueGreenSpan);
    border: 1px solid transparent;
    transition: 300ms linear;
}
.btn-skyblue i{
    margin-left: .4rem;
    right: 0;
}

.btn-skyblue:hover{
    border: 1px solid var(--blueGreenDark);
    color: var(--greenDark);
}

.btn-cv{
    border: 1px solid var(--white);
    font-weight: 500;
    transition: 250ms linear;
}
.btn-cv i{
    margin-right: .5rem;
}

.btn-cv:hover{
    background-color: var(--greenDark);
    border: 1px solid transparent;
    color: var(--white);
}

/* ACERCA DE */
.acerca-de{
    justify-content: center;
}

.acerca-de .content-perfil{
    margin: 2rem 0;
    position: relative;
}
@media screen and (min-width: 800px) {
    .acerca-de .content-perfil{
        margin: 2.5rem;
    }
}

.circle-perfil{
    min-width: 250px;
    min-height: 250px;
    background-image: url("../assets/img/profile .jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.acerca-de .git, .linke, .twitt{
    position: absolute;
    font-size: 2.7rem;
    transition: 200ms linear;
}
.acerca-de .git{
    top: 55%; left: 0;
}
.acerca-de .linke{
    top: 65%; right: 3%;
}
.acerca-de .twitt{
    top: 25%; right: -3%;
    font-size: 2.3rem;
}
.acerca-de .git:hover, .linke:hover, .twitt:hover{
    transform: scale(1.1);
}

.btn-contacto{
    background-color: var(--pastelGreen);
    color: var(--blueGreenDark);
    padding: .5rem 1.2rem;
    border-radius: 4px;
    box-shadow: var(--sombraBtn);
    position: relative;
    bottom: 15px;
    right: 20px;
    transition: 250ms linear;
}
.btn-contacto>i{
    font-size: 1.2rem;
    margin-right: .7rem;
    position: relative;
    top: .1rem;
}
.btn-contacto:hover{
    background-color: var(--greenDark);
    color: var(--pastelGreen);
}

.card-acerca{
    align-self: center;
    background-color: var(--greenDarkOpacity);
    max-width: 580px;
    padding: 1rem;
    margin: 2rem .8rem;
    border-radius: 2px;
    box-shadow: var(--sombra);
}
.card-acerca>h2, .card-acerca>p{
    outline: 1px solid var(--white);
}

.parr-sections{
    text-align: left;
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 14px;
}
.icon-ec{
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0 -5px 0;
    padding: 0;
}

/* HABILIDADES */
.flex-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
@media screen and (min-width: 1000px) {
    .flex-card{
        flex-direction: row;
        justify-content: space-between;
    }
}

.hab-img{
    max-width: 350px;
    padding: .5rem;
}

.flex-card .parr-sections{
    max-width: 445px;
}

.flex-list ul{
    max-width: 480px;
    padding: 1rem .5rem;
    list-style: none;
    gap: 10px;
}

.habilidades li{
    display: flex;
    padding: .5rem .8rem;
    border-radius: 4px;
    box-shadow: var(--sombra);
}

.habilidades .hab-html{
    background-color: var(--orange);
}
.habilidades .hab-css{
    background-color: var(--skyBlue);
}
.habilidades .hab-git{
    background-color: var(--crimsonLight);
}
.habilidades .hab-js{
    background-color: var(--yellowLight);
}
.habilidades .hab-fig{
    background-image: var(--lime);
}
.habilidades .hab-illus{
    background-color: var(--wine);
}
.habilidades .hab-react{
    background-color: var(--blueReact);
}
.habilidades .hab-node{
    background-color: var(--greenNode);
}
.habilidades .hab-db{
    background-color: var(--blueDb);
}

.habilidades li i{
    font-size: 1.5rem;
    margin-right: 10px;
}

/* FORMACION */
.color-section{
    background-color: var(--blueGreen);
}

.formacion{
    border-radius: 4px;
}

.formacion .forma-card{
    justify-content: space-evenly;
    align-items: center;
}

.formacion .forma-img{
    width: 30%;
    min-width: 300px;
    padding: 1rem;
}

.formacion ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    padding-left: 2.5rem;
}

.formacion .tit-forma, .text-forma{
    text-align: left;
    line-height: 1.5rem;
    font-weight: 500;
}

.formacion .text-forma{
    font-size: 14px;
    color: var(--blueGreenDark);
}
.formacion .text-forma>i{
    color: var(--blueGreenDark);
    margin-right: .4rem;
}

.formacion .tit-forma{
    padding: 2rem 0 0 0;
}

.formacion .circle{
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0%;
    top: 14%;
    border-radius: 50%;
}

.formacion ul::before{
    content: '';
    width: 3px;
    height: 200px;
    background-color: var(--white);
    position: absolute;
    left: 10px;
    top: 25px;
}

.formacion .first{
    background-color: var(--yellowBrown);
}
.formacion .second{
    background-color: var(--blueAlura);
    top: 48%;
}
.formacion .third{
    background-color: var(--pinky);
    top: 80%;
}

/* PORTAFOLIO */
.cards-portaf{
    gap: 1.8rem;
}

.card-relative{
    position: relative;
    margin: 0 auto;
}

.card{
    min-width: 245px;
    min-height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3rem 0;
    border-radius: 2px;
    box-shadow: var(--sombraCards);
    filter: brightness(60%);
    transition: 500ms linear;
}

.card-relative p{
    background-color: var(--yellowBrown);
    color: var(--blueGreenDark);
    padding: .3rem .8rem;
    position: absolute;
    top: 72%;
    left: 5%;
    border-radius: 2px;
    box-shadow: var(--sombraCards);
}

.card:hover{
    filter: brightness(90%);
}

.card-img1, .card-img2, .card-img3{
    background-position: center;
    background-size: cover;
}

.card-img1{
    background-image: url("../assets/proyectos-img/proyect_1.png");
}
.card-img2{
    background-image: url("../assets/proyectos-img/proyect_2.png");
}
.card-img3{
    background-image: url("../assets/proyectos-img/proyect_3.png");
}

.cards-portaf .btn-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    border-radius: 4px;
    position: absolute;
    top: 35%;
    right: -4%;
    box-shadow: var(--sombraBtn);
    overflow: hidden;
}

.btn-lateral i{
    color: var(--blueGreenSpan);
    font-size: 1.3rem;
}
.btn-lateral .btn-git, .btn-link{
    width: 100%;
    padding: 1rem .6rem;
    transition: 200ms linear;
    position: relative;
}
.btn-lateral .btn-git{
    background-color: var(--pastelGreen);
}
.btn-lateral .btn-link{
    background-color: var(--pastelGreen);
}

.btn-lateral .btn-git:hover, .btn-link:hover{
    background-color: var(--blueGreen);
    color: var(--greenDark);
}

.btn-lateral .btn-git::after{
    content: '';
    position: absolute;
    z-index: 5;
    bottom: -1px;
    right: 0;
    margin: 0 .4rem;
    border: 1px solid var(--blueGreenSpan);
    width: 60%;
}

/* CONTACTO */
.contacto p, .icons-foot{
    text-align: left;
}

.contacto .conta-content{
    justify-content: space-between;
}

.conta-content .conte-section{
    padding: 1rem 0;
    line-height: 1.4rem;
}

.conte-section span, .email, .social{
    color: var(--blueGreenDark);
    font-weight: 500;
}

.conte-section .mail{
    font-size: .9rem;
    position: relative;
    padding-bottom: 5px;
}
.conte-section .mail::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--blueGreenDark);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.mail:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.icons-foot i{
    font-size: 1.4rem;
    margin: .5rem;
    padding: .2rem;
    transition: 150ms linear;
}
.icons-foot i:hover{
    color: var(--blueGreenDark);
}

.slogan{
    font-size: .7rem;
    padding: .5rem;
}

/* MEDIA QUERIES */
@media screen and (min-width: 850px){
    .menu-position{
        background: var(--menuBlueGreen);
        backdrop-filter: blur(4.5px);
        padding: .8rem 1.5rem .2rem 1.5rem;
    }

    .menu-nav{
        position: static;
        flex-direction: row;
        width: max-content;
        background: none;
        backdrop-filter: none;
    }

    .menu .menu-nav>a{
        width: fit-content;
        padding: .5rem .8rem;
        margin: 0 .3rem;
        position: relative;
    }
    .menu .menu-nav>a::before{
        content: '';
        width: 90%;
        height: 0;
        background-color: var(--yellowLight);
        border-radius: 0  0 2px 2px;
        position: absolute;
        top: -15px;
        left: 5%;
        transition: 90ms linear;
    }
    .menu .menu-nav>a:hover::before{
        height: 6px;
    }
    
    .menu .menu-nav>a:hover{
        background-color: transparent;
    }

    .menu .toggle-btn{
        display: none;
    }
}

@media  screen and (min-width: 600px) {
    .presentacion{
        font-size: 3rem;
    }
}